@import 'tailwindcss';
body{
    background-color: rgba(221, 198, 198, 0.693);
}
footer {
    height: 50vh;
    width: 100%;
    background-color: rgb(8, 0, 255);
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    align-items: center;
}

footer .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

footer .left p {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

footer .rig {
    height: 200px;
    width: 40vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding-right: 40px;
    color: #fff;
}

footer .rig ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

footer .rig ul li {
    width: 160px;
    padding: 10px 0px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 300;
}

footer .rig ul a {
    color: #fff;
}

#head {
    padding-bottom: 20px;
    font-weight: bolder;
}